<div class="container-button-destroy">
  <div>
    <%= link_to "Add a God!", new_prayer_comment_path(@prayer), class: "btn btn-warning", id: "button-show" %>
  </div>
  <div>
    <%= link_to "Destroy a prayer!", prayer_path, method: :delete, data: { confirm: "Destroy #{@prayer.name} pray?"}, class: "btn btn-warning", id: "button-show"%>
  </div>

</div>


<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @prayer.name %></h2>
      <p><%= @prayer.pray %></p>
    </div>
      <h2 class="card-trip-pricing"><%= @prayer.comment.description if @prayer.comment %></h2>
      <h2 class="card-trip-pricing"><%= @prayer.god.name if @prayer.god %></h2>
      <%#= cl_image_tag @prayer.god.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered" %>
      <% if @prayer.god && @prayer.god.photo.attached?%>
        <%= cl_image_tag @prayer.god.photo.key, height: 50, width: 50, crop: :fill, class: "card-trip-user avatar-bordered" %>
      <% else %>
        <%#= cl_image_tag("lego_gods", width: 400, height: 300, crop: :fill) %>
      <% end %>
  </div>
</div>
<div class="button-show-destroy-big">
  <div class="button-show-destroy">
    <h5>Destroy a GOD?</h5>
    <% if @prayer.comment %>
      <%= link_to comment_path(@prayer.comment), method: :delete, data: { confirm: "Do you dare DESTROY ME!, the Greek god #{@prayer.comment.god.name if @prayer.comment}, YOU WILL PAY WITH YOUR LIFE FILTHY HUMAN"}, id: "button-show-destroy-god" do %>
        <i class="fas fa-meteor"></i>
      <% end %>
    <% else %>
    <% end %>
  </div>

</div>
<div class="footer-show">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by Antonio
  </div>
</div>

